label{
    color: #1B335C;
}

.btn{
    background-color: #00ACEF; 
    font-weight: 600;
    border: 1px solid rgba(0,172,239,.85);
}

h1{
    background-color: #0170B3; 
    color: white;
    font-weight: 100;
    font-family: Avenir,"Source Sans Pro",sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

form{
width: 18rem;
padding: 20px;
margin: 20px;
}

.macros{
    width: 12rem;
    padding: 20px;
    margin: auto;
    padding-bottom: 50px;
    }

.card{
    width: 21rem;
    max-width: 700px;
    margin: auto;
    margin-top: 40px;
}